################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ManyToManyAutoInclude
/bin/Debug/net7.0
/obj
